<!DOCTYPE html>
<html>
    <head>
        <title>
        Add homes
        </title>
        <link rel="stylesheet" href=" " >
    </head>
    <body>	
        <header>
            <h1>Please Register your Home</h1>
        </header>
        <main>
           <form action="/host/add-homes" method="POST">
                <input placeholder="Enter the home name" name="houseName" type="text">
                <input value="Submit" type="submit">
            </form>
        </main>
        <footer>
            <a href="/">Back to Airbnb Home page</a>
        </footer>
    </body>
</html>